<div class="table-wrapper" *ngIf="operadores">
    <div class="table-title">
        <div class="row">
            <div class="col-sm-6">
                <h2>Gerenciador de Operadores</h2>
            </div>
            <div class="col-sm-6" *ngIf="roleOperador == 'ADMIN'">
                <a routerLink="/operadores/cadastrar" class="btn btn-success"><i class="material-icons">&#xE147;</i>
                    <span>Adicionar novo operador</span></a>

            </div>
        </div>
    </div>
    <table class="table table-striped table-hover" *ngIf="operadores.length > 0">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Login</th>
                <th>Tipo</th>
                <th>Data de Criação</th>
                <th>Data de Modificação</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let operador of operadores">

                <td>{{ operador.nome }}</td>
                <td>{{ operador.login }}</td>
                <td>{{ operador.role }}</td>
                <td>{{ operador.createdAt | date: 'dd/MM/yyyy - hh:mm' }}</td>
                <td>{{ operador.updatedAt | date: 'dd/MM/yyyy - hh:mm' }} </td>
                <td>
                    <a routerLink="/operadores/editar/{{ operador.id }}" class="edit"><i class="material-icons"
                            title="Edit">&#xE254;</i></a>
                    <a routerLink="/operadores/deletar/{{ operador.id }}" class="delete"><i class="material-icons"
                            title="Delete">&#xE872;</i></a>
                </td>
            </tr>

        </tbody>
    </table>

    <div *ngIf="operadores.length == 0">
        <div class="alert alert-info">
            Não há operadores cadastrados no sistema.
        </div>
    </div>

</div>