<h1>Lista de Operadores</h1>

<table *ngIf="operadores">
    <thead>
        <td>Nome</td>
        <td>Login</td>
        <td>Senha</td>
        <td>Criado em</td>
        <td>Última Modificação</td>
    </thead>
    <tbody>
        <tr *ngFor="let operador of operadores">
            <td>{{ operador.nome }}</td>
            <td>{{ operador.login }}</td>
            <td>{{ operador.senha }}</td>
            <td>{{ operador.createdAt | date: 'dd/MM/yyyy - hh:mm' }}</td>
            <td> - </td>
        </tr>
    </tbody>
</table>