<div class="table-wrapper" *ngIf="pessoas">
    <div class="table-title">
        <div class="row">
            <div class="col-sm-6">
                <h2>Gerenciador de Pessoas</h2>
            </div>
            <div *ngIf="globals.role == 'GERENTE'" class="col-sm-6">
                <a routerLink="/pessoas/cadastrar" class="btn btn-success"><i class="material-icons">&#xE147;</i>
                    <span>Adicionar nova pessoa</span></a>
            </div>
        </div>
    </div>
    <table class="table table-striped table-hover" *ngIf="pessoas.length > 0">
        <thead>
            <tr>
                <th>Nome</th>
                <th>CPF/CNPJ</th>
                <th>Data de Nascimento</th>
                <th>Nome do Pai</th>
                <th>Nome da Mãe</th>
                <th>Operador</th>
                <th>Telefones</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let pessoa of pessoas">
                <td>{{ pessoa.nome }}</td>
                <td *ngIf="pessoa.tipoPessoa=='F'">{{ pessoa.documento | mask: '000.000.000-00'}}</td>
                <td *ngIf="pessoa.tipoPessoa=='J'">{{ pessoa.documento | mask: '00.000.000/0000-00'}}</td>
                <td>{{ pessoa.dataNascimento | date: 'dd/MM/yyyy' }}</td>
                <td>{{ pessoa.nomePai }}</td>
                <td>{{ pessoa.nomeMae }} </td>
                <td>{{ pessoa.loginOperador }} </td>
                <td>
                    <span *ngFor="let telefone of pessoa.telefones">
                        ({{ telefone.ddd }}) {{ telefone.numero }} <br />
                    </span>
                </td>
                <td>
                    <a *ngIf="globals.role == 'GERENTE'" routerLink="/pessoas/editar/{{ pessoa.id }}" class="edit"><i
                            class="material-icons" title="Edit">&#xE254;</i></a>
                    <a *ngIf="globals.role == 'GERENTE'" routerLink="/pessoas/deletar/{{ pessoa.id }}" class="delete"><i
                            class="material-icons" title="Delete">&#xE872;</i></a>
                </td>
            </tr>
        </tbody>
    </table>

    <div *ngIf="pessoas.length == 0">
        <div class="alert alert-info">
            Não há pessoas cadastradas no sistema.
        </div>
    </div>
</div>