<mat-card style="margin: 0 auto; width: 50%">

    <mat-card-header>
        <mat-card-title>
            EDITAR PESSOA {{ request.id }}
        </mat-card-title>
    </mat-card-header>

    <br />

    <mat-card-content>
        <form #cadastroPessoaForm="ngForm">
            <div class="form-group">
                <mat-form-field>
                    <mat-label for="nome">Nome</mat-label>
                    <input matInput placeholder="Nome Completo" type="text" id="nome" [(ngModel)]="request.nome"
                        name="nome" required maxlength="100" pattern="[a-zA-Z\s]*" #nome="ngModel">
                </mat-form-field>
                <div *ngIf="nome.invalid && (nome.dirty || nome.touched)" class="error">
                    <div *ngIf="nome.errors.required">
                        Nome é obrigatório.
                    </div>

                    <div *ngIf="nome.errors.pattern">
                        Nome pode conter apenas letras.
                    </div>
                </div>
            </div>


            <div class="form-group">
                <mat-radio-group aria-label="Selecione uma opção" [(ngModel)]="request.tipoPessoa" name="tipoPessoa"
                    required>
                    <mat-radio-button value="F" selected>Pessoa Física</mat-radio-button>&nbsp;&nbsp;
                    <mat-radio-button value="J">Pessoa Jurídica</mat-radio-button>
                </mat-radio-group>
            </div>

            <div class="form-group">
                <div *ngIf="request.tipoPessoa=='F'">
                    <mat-form-field>
                        <mat-label for="documento">CPF</mat-label>
                        <input matInput id="documento" mask="000.000.000-00" type="text" [(ngModel)]="request.documento"
                            name="documento" required #cpf="ngModel">
                    </mat-form-field>
                    <div *ngIf="cpf.invalid && (cpf.dirty || cpf.touched)" class="error">
                        <div *ngIf="cpf.errors.required">
                            CPF é obrigatório.
                        </div>
                    </div>
                </div>

                <div *ngIf="request.tipoPessoa=='J'">
                    <mat-form-field>
                        <mat-label for="documento">CNPJ</mat-label>
                        <input matInput id="documento" mask="00.000.000/0000-00" type="text"
                            [(ngModel)]="request.documento" name="documento" required #cnpj="ngModel">
                    </mat-form-field>
                    <div *ngIf="cnpj.invalid && (cnpj.dirty || cnpj.touched)" class="error">
                        <div *ngIf="cnpj.errors.required">
                            CNPJ é obrigatório.
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="request.tipoPessoa=='F'">
                <div class="form-group">
                    <mat-form-field>
                        <mat-label for="dataNascimento">Data de Nascimento</mat-label>
                        <input matInput id="dataNascimento" type="text" [matDatepicker]="picker1"
                            [(ngModel)]="request.dataNascimento" name="dataNascimento" required
                            #dataNascimento="ngModel" readonly>
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                    </mat-form-field>
                    <div *ngIf="dataNascimento.invalid && (dataNascimento.dirty || dataNascimento.touched)"
                        class="error">
                        <div *ngIf="dataNascimento.errors.required">
                            Data de nascimento é obrigatório.
                        </div>
                    </div>
                </div>



                <div class="form-group">
                    <mat-form-field>
                        <mat-label for="nomePai">Nome do pai</mat-label>
                        <input matInput id="nomePai" type="text" [(ngModel)]="request.nomePai" name="nomePai" required
                            maxlength="100" #nomePai="ngModel">
                    </mat-form-field>
                    <div *ngIf="nomePai.invalid && (nomePai.dirty || nomePai.touched)" class="error">
                        <div *ngIf="nomePai.errors.required">
                            Nome do pai é obrigatório.
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <mat-form-field>
                        <mat-label for="nomeMae">Nome da mãe</mat-label>
                        <input matInput id="nomeMae" type="text" [(ngModel)]="request.nomeMae" name="nomeMae" required
                            maxlength="100" #nomeMae="ngModel">
                    </mat-form-field>
                    <div *ngIf="nomeMae.invalid && (nomeMae.dirty || nomeMae.touched)" class="error">
                        <div *ngIf="nomeMae.errors.required">
                            Nome da mãe é obrigatório.
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </mat-card-content>
    <mat-card-actions>
        <div class="modal-footer">
            <button (click)="editar()" class="btn btn-success"
                [disabled]="!cadastroPessoaForm.form.valid">Salvar</button>
        </div>
    </mat-card-actions>
</mat-card>