<h2>Editar Pessoa</h2>

<div *ngIf="request">
    <label>Nome:
        <input type="text" [(ngModel)]="request.nome">
    </label>
    <br /><br />
    <label>Documento:
        <input type="text" [(ngModel)]="request.documento">
    </label>
    <br /><br />
    <label>Data de Nascimento:
        <input type="text" [(ngModel)]="request.dataNascimento">
    </label>
    <br /><br />
    <label>Nome do pai:
        <input type="text" [(ngModel)]="request.nomePai">
    </label>
    <br /><br />
    <label>Nome da mãe:
        <input type="text" [(ngModel)]="request.nomeMae">
    </label>
    <br /><br />
    <button (click)="editar()">Salvar</button>
    <button routerLink="/telefones/cadastrar/{{ request.id }}">Cadastrar Telefone</button>
</div>